$rccs-size: 200px;
$rccs-name-font-size:  11px;
$rccs-number-font-size: 14px;
$rccs-valid-font-size: 10px;
$rccs-expiry-font-size:10px;
$rccs-cvc-font-size:  10px;

@import "~react-credit-cards/src/styles";

.preview {
  $rccs-size: 290px;
  $rccs-name-font-size:  17px;
  $rccs-number-font-size: 17px;
  $rccs-valid-font-size: 10px;
  $rccs-expiry-font-size:16px;
  $rccs-cvc-font-size:  14px;

  @import "~react-credit-cards/src/styles";

}
